.navigation-topics,
.categories-list,
.tags-page,
body[class*="category-"]:not(.archetype-regular):not(.archetype-banner) {
  .list-controls {
    .navigation-container {
      @if $desktop-navigation-bar-enabled == "true" {
        .nav-pills {
          > li {
            border: none;
            a {
              transition: border-bottom 0.2s, color 0.2s;
              border-bottom: 3px solid transparent;
              margin: 0 0.25em;
              &:hover,
              &:focus,
              &.active {
                background-color: transparent;
                border-bottom-color: var(--quaternary);
              }
              &:focus,
              &:active {
                color: var(--quaternary);
              }
            }
          }
        }
      }
      .navigation-controls {
        position: fixed;
        bottom: 10px;
        right: 10px;
        padding: 0.5em;
        margin-bottom: env(safe-area-inset-bottom);
        max-width: calc(100% - 20px);
        box-sizing: border-box;
        box-shadow: shadow("card");
        background: var(--secondary);
        transition: bottom 0.2s ease-in;
        z-index: 200;
        #create-topic {
          order: 1;
          margin-left: 0.5em;
          margin-right: 0;
        }
        .anon & {
          display: none;
        }
      }
    }
  }
  #reply-control.draft {
    bottom: -60px;
    transition: bottom 0.2s ease-in;
  }
}

body.nav-controls-hidden {
  &.navigation-topics,
  &.categories-list,
  &.tags-page,
  &[class*="category-"]:not(.archetype-regular):not(.archetype-banner) {
    .list-controls {
      .navigation-container .navigation-controls {
        bottom: -60px;
        transition: bottom 0.2s ease-in;
      }
    }
    #reply-control.draft {
      bottom: 0;
    }
  }
}

body:not(.footer-nav-ipad) .footer-nav {
  display: none;
}
