.navigation-topics,
.categories-list,
.tags-page,
body[class*="category-"]:not(.archetype-regular):not(.archetype-banner) {
  .list-controls {
    .navigation-container {
      @if $desktop-navigation-bar-enabled == "true" {
        #navigation-bar {
          margin-bottom: 1em;
          margin-top: -0.25em;
        }
        .nav-pills {
          > li {
            margin-right: 0.5em;
            border: none;
            a {
              transition: none;
              font-size: var(--font-up-1);
              border-radius: #{$nav-bar-item-rounding};
              border-bottom: #{$nav-bar-items-border-bottom-size} solid #{$nav-bar-items-border-bottom-color};
              padding: 0 #{$nav-bar-item-padding-size};
              margin-right: 0.25em;
              margin-bottom: 0.25em;
              background-color: #{$nav-bar-item-bg};
              color: #{$nav-bar-item-color};
              &:hover,
              &:focus,
              &.active {
                background-color: #{$nav-bar-item-active-bg};
                border-bottom-color: #{$nav-bar-item-border-active-color};
              }
              &:hover {
                color: #{$nav-bar-item-hover-color};
              }
              &:focus,
              &.active {
                color: #{$nav-bar-item-active-color};
              }
            }
          }
        }
      }
      .navigation-controls {
        position: fixed;
        bottom: #{$nav-control-buttons-bottom-position};
        right: #{$nav-control-buttons-right-position};
        padding: 0.5em;
        grid-gap: 0.5em;
        margin-bottom: env(safe-area-inset-bottom);
        max-width: calc(100% - 20px);
        box-sizing: border-box;
        box-shadow: shadow("card");
        background: var(--secondary);
        transition: bottom 0.25s ease-in;
        z-index: 200;
        > *:not(:last-child) {
          margin-right: 0;
        }
        .btn {
          transition: background 0.25s;
        }
        #create-topic {
          order: 1;
          margin-right: 0;
        }
        .anon & {
          display: none;
        }
      }
      @if $custom-nav-control-buttons-enabled == "true" {
        .navigation-controls {
          padding: 0;
          box-shadow: none;
          background: transparent;
          align-items: center;
          @if $nav-control-buttons-vertical-align == "true" {
            display: flex;
            flex-direction: column;
            transition: right 0.25s ease-in;
          }
          .btn:not(#create-topic) {
            padding: 0.75em 0.817em;
            border-radius: #{$nav-control-buttons-rounding};
            background: #{$nav-control-buttons-bg};
            .d-icon {
              color: #{$nav-control-buttons-icon-color};
            }
            &:hover,
            &:focus {
              background: #{$nav-control-buttons-hover-bg};
              .d-icon {
                color: #{$nav-control-buttons-icon-hover-color};
              }
            }
          }
          #create-topic {
            padding: 1.375em;
            border-radius: #{$create-topic-button-rounding};
            background: #{$create-topic-button-bg};
            .d-icon {
              width: 1.25em;
              height: 1.25em;
              margin-right: 0;
              color: #{$create-topic-button-icon-color};
            }
            .d-button-label {
              display: none;
            }
            &:hover,
            &:focus {
              background: #{$create-topic-button-hover-bg};
              .d-icon {
                color: #{$create-topic-button-icon-hover-color};
              }
            }
            &.open-draft {
              background: #{$open-draft-button-bg};
              .d-icon {
                color: #{$open-draft-button-icon-color};
              }
              &:hover,
              &:focus {
                background: #{$open-draft-button-hover-bg};
                .d-icon {
                  color: #{$open-draft-button-icon-hover-color};
                }
              }
            }
          }
        }
      }
    }
  }
  #reply-control.draft {
    bottom: -60px;
    transition: bottom 0.25s ease-in;
  }
}

body.nav-controls-hidden {
  &.navigation-topics,
  &.categories-list,
  &.tags-page,
  &[class*="category-"]:not(.archetype-regular):not(.archetype-banner) {
    .list-controls {
      .navigation-container .navigation-controls {
        bottom: -60px;
        transition: bottom 0.25s ease-in;
        @if $custom-nav-control-buttons-enabled == "true" {
          bottom: -70px;
          @if $nav-control-buttons-vertical-align == "true" {
            bottom: #{$nav-control-buttons-bottom-position};
            right: -70px;
            transition: right 0.25s ease-in;
          }
        }
      }
    }
    #reply-control.draft {
      bottom: 0;
    }
  }
}

body:not(.footer-nav-ipad) .footer-nav {
  display: none;
}
